[submodule "forks/pluja-pocketbase"]
	path = forks/pluja-pocketbase
	url = https://github.com/benallfree/pluja-pocketbase
[submodule "forks/pocketbase"]
	path = forks/pocketbase
	url = https://github.com/benallfree/pocketbase
[submodule "forks/geesefs"]
	path = forks/geesefs
	url = https://github.com/benallfree/geesefs
[submodule "forks/sturdyc"]
	path = forks/sturdyc
	url = https://github.com/benallfree/sturdyc.git
